* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    display: grid;    
    grid-template-columns: repeat(41,minmax(40px, 1fr));
    grid-template-rows: repeat(23, 40px);
}

.sky {
    width: 100%;
    height: 100%;
    background-color: rgb(156, 233, 233);
}

.monster-face {
    background: url(./images/creeperFace.png);
    background-size: contain;

}

.monster-body {
    background: url(./images/creeperBody.png);
    background-size: contain;
}

.grass2 {
    background: url(./images/grass2.png);
    background-size: contain;
}

.grass3 {
    background: url(./images/grass3.png);
    background-size: contain;
}

.grass4 {
    background: url(./images/grass4.png);
    background-size: contain;
}

.grass5 {
    background: url(./images/grass5.png);
    background-size: contain;
}

.soil1 {
    background: url(./images/soil1.png);
    background-size: contain;
}

.soil2 {
    background: url(./images/soil2.png);
    background-size: contain;
}

.soil3 {
    background: url(./images/soil3.png);
    background-size: contain;
}

.soil4 {
    background: url(./images/soil4.png);
    background-size: contain;
}

.soil5 {
    background: url(./images/soil5.png);
    background-size: contain;
}

.stone {
    background: url(./images/Stone1.jpg);
    background-size: contain;
}

.treeRace {
    background: url(./images/wood1.png);
    background-size: contain;
}

.leaves {
    background: url(./images/leaves1.png);
    background-size: contain;
}

footer {
    background-color: rgb(37, 36, 36);
    height: 150px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.buttons {
    display: flex;
    gap: 5px;
    align-items: center;
}

footer > h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(105, 105, 105);
    height: 60px;
    width: 370px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
}

.axe,.shovel,.pick,.sword {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

.axe:hover,.shovel:hover,.pick:hover,.sword:hover{
    border: white 1px solid;
} 

.axe {
    background: url(./images/axe.png);
    background-size: contain;
    background-color: rgb(66, 65, 65);
}
.shovel {
    background: url(./images/shovel.png);
    background-size: contain;
    background-color: rgb(66, 65, 65)
}
.pick {
    background: url(./images/pickaxe.png);
    background-size: contain;
    background-color: rgb(66, 65, 65)
}
.sword {
    background: url(./images/sword.png);
    background-size: contain;
    background-color: rgb(66, 65, 65)
}

.box {
    max-height: 130px;
    max-width: 130px;
}

.reset {
    height: 50px;
    width: 130px;
    background-color: rgb(105, 105, 105);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.reset:hover {
    background-color: brown;
    border: rgb(105, 105, 105) 3px solid;
}