* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.board {
    display: grid;    
    grid-template-columns: repeat(43, 40px);
    grid-template-rows: repeat(27, 40px);
}

#sky {
    width: 100%;
    height: 100%;
    background-color: rgb(156, 233, 233);
}



#grass2 {
    background: url(grass2.png);
    background-size: contain;
}

#grass3 {
    background: url(grass3.png);
    background-size: contain;
}

#grass4 {
    background: url(grass4.png);
    background-size: contain;
}

#grass5 {
    background: url(grass5.png);
    background-size: contain;
}

#soil1 {
    background: url(soil1.png);
    background-size: contain;
}

#soil2 {
    background: url(soil2.png);
    background-size: contain;
}

#soil3 {
    background: url(soil3.png);
    background-size: contain;
}

#soil4 {
    background: url(soil4.png);
    background-size: contain;
}

#soil5 {
    background: url(soil5.png);
    background-size: contain;
}

#stone {
    background: url(Stone1.jpg);
    background-size: contain;
}